
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <base href="/" />
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="/runtime.js"></script>
    <script type="text/javascript" src="/polyfills.js"></script>
    <script type="text/javascript" src="/vendor.js"></script>
    <script type="text/javascript" src="/main.js"></script>
    
</body>
</html>
